@font-face {
  font-family: "Ionicons";
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");
  src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: Avenir;
}

body {
  margin: 0;
}

html {
  height: 100%;
  font-size: 100%;
}

.module {
  clear: both;
  width: 100%;
}

.intro {
  width: 100%;
  text-align: left;
}

.contact-form {
  height: 500px;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
/*   max-width: 960px; */
  margin: 0px auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 30px;
  font-size: 45px;
  text-align: left;
}
/* job titles */

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px;
}
section.module.parallax {
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  line-height: 300px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  /*background-image: "assets/corgi.jpg";*/
  background-image: url("../assets/corgi.jpg");
  height: 100vh;
}
section.module.parallax-2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/125980/blueprint.jpg");
}
section.module.parallax-3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/125980/typewriter.jpg");
}
section.module.parallax-4 {
  background-image: url('../assets/pug.jpg');
}

/* ============================================================ */
.pic-col {
  padding-top: 40px;
  padding-bottom: 20px;
}
.img-circle, .img-leadership {
  max-height: 30vh;
}
.company-img-circle {
  max-height: 23vh;
}
.img-center{
  display: block;
  margin: auto;
}
.social-icons {
  font-size: 35px;
  color: black;
}
.center {
  text-align: center;
}
.projects {
  align-items: center;
}

.project-description {
  text-align: center;
}
.project-description h3 {
  font-size: 150%;
  font-weight: bold;
}

.job-description {
  text-align: left;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.job-description h3 {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: left;
}
.job-description h4 {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
  color: grey;
}
.job-description p {
  font-size: 95%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.job-description ul {
  padding-left: 40px;
}
.no-padding {
  padding: 0px;
}

.leadership {
  text-align: center;
}
.leadership h3 {
  font-weight: lighter;
  font-size: 23px;
}

.resume {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.resume a {
  font-size: 20px;
  line-height: 1.0;
  padding: 12px 35px 12px 35px;
	border: 1px solid rgba(170, 170, 170, 1.0);
	text-align: center;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 1.0);
  color: white;
  -o-transition:color .2s ease-out, background .2s ease-in;
  -ms-transition:color .2s ease-out, background .2s ease-in;
  -moz-transition:color .2s ease-out, background .2s ease-in;
  -webkit-transition:color .2s ease-out, background .2s ease-in;
  transition:color .2s ease-out, background .2s ease-in;
}
.resume a:hover {
  text-decoration: none;
  background: rgba(100, 100, 100, 1.0);
  color: white;
}
