.img-circle {
  max-height: 30vh;
  border-radius: 50%;
}
.center {
  display: block;
  margin: auto;
}
.company {
  max-height: 10vh;
}
h3 {
  margin-bottom: 0px;
}
h4 {
  color: darkgray;
}
.centered_section {
  width: 100%;
}